.button-style {
    background-color: rgb(0, 140, 255);
    width: 100px;
    height: 60px;
    color: rgb(15, 117, 233);
}

.hidden {
    display: none;
}

.padding-bottom {
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    color: rgb(22, 158, 151);
    text-align: center;
    background-color: rgb(206, 158, 85)
}

p {
    font-size: 14px;
    text-align: center;

}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
img{
height: 500px;
width:500px;
margin-top: 330px;
}
    
body{
    margin: 30px;
    background-color: rgb(252, 162, 79);
    
}
